.logGridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(40px, 250px));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 0.5rem;
}
.gridItem {
    padding: 0rem;
    text-align: center;
}
.gridItemSpan {
    grid-column: span 2;
    text-align: center;
}

.recentHistoryList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 275px));
    grid-template-rows: repeat(4);
}

.recentHistory {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 275px));
}
.recentHistorySpan {
    grid-column: span 3;
}

.movementPicker {
    width: 70%;
    position: relative;
}

input::-webkit-calendar-picker-indicator {
    display: none;
    pointer-events: none;
    opacity: 0;
}

.clearMovementButton {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.4rem;
}

.setInput {
    width: 2.75rem;
}

.redButton {
    background-color: rgb(150, 60, 60);
}
.redButton:hover {
    background-color: rgb(150, 60, 60);
}
.redButton:active {
    background-color: rgb(150, 60, 60);
}

.noteSection {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 275px));
    grid-template-rows: repeat(3);
    /* I just wanted this section to match the recent history section exactly */
}
.note {
    grid-column: span 3;
    position: relative;
}
.note:hover {
    background-color: #444;
    border-radius: 8px;
}

.deleteButton {
    position: absolute;
    right: 0;
    top: 0;
}
.confirmationBox {
    position: absolute;
    top: -3.5rem;
    text-align: right;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #111;
}

.addNoteButton {
    position: absolute;
    right: 0;
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.addNoteButton:hover {
    color: #999;
}
.addNoteButton:active {
    color: #888;
}

.addNote {
    background-color: #333;
    border-radius: 8px;
    border: 2px solid #555;
    box-shadow: 0px 0px 10px #111;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
    z-index: 3;
}

.addNoteForm {
    padding: 1rem;
}

.noteTextBox {
    width: 16rem;
    height: 6rem;
    resize: none;
}

@media (max-width: 768px) {
    .logGridContainer {
        font-size: 1.3rem;
    }

    .recentHistory {
        margin-bottom: 1rem;
    }

    .recentHistoryList {
        grid-template-columns: repeat(2, minmax(40px, 50%));
    }

    .note {
        user-select: none;
    }

    .movementPicker {
        max-width: 500px;
        width: 75%;
    }
}