.logButtonsContainer {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, minmax(40px, 250px));
    grid-template-rows: repeat(auto-fill, 1fr); */
    width: 825px;
    gap: 0.25rem;
    position: relative;
    text-align: center;
    align-items: center;
}

.logFlexRow {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.movementPicker {
    width: 90%;
}

.syncActive {
    background-color: #444;
    border: 1px solid rgb(60, 200, 60);
}

.recentHistoryList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 275px));
    grid-template-rows: repeat(4);
}

.recentHistory {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 275px));
}
.recentHistorySpan {
    grid-column: span 3;
}

input::-webkit-calendar-picker-indicator {
    display: none;
    pointer-events: none;
    opacity: 0;
}

.clearMovementButton {
    position: absolute;
    right: 0;
}

.setInput {
    width: 2.75rem;
}

.redButton {
    background-color: rgb(150, 60, 60);
}
.redButton:hover {
    background-color: rgb(150, 60, 60);
}
.redButton:active {
    background-color: rgb(150, 60, 60);
}

.noteSection {
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(40px, 275px));
    grid-template-rows: repeat(3);
    /* I just wanted this section to match the recent history section exactly */
}
.note {
    grid-column: span 3;
    position: relative;
}
.note:hover {
    background-color: #444;
    border-radius: 8px;
}

.deleteButton {
    position: absolute;
    right: 0;
    top: 0;
}

.addNoteButton {
    position: absolute;
    right: 0;
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.addNoteButton:hover {
    color: #999;
}
.addNoteButton:active {
    color: #888;
}

.addNote {
    background-color: #333;
    border-radius: 8px;
    border: 2px solid #555;
    box-shadow: 0px 0px 10px #111;
    position: fixed;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
    z-index: 3;
}

.addNoteForm {
    padding: 1rem;
}

.noteTextBox {
    width: 16rem;
    height: 6rem;
    resize: none;
}

.focusModeContainer {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.focused {
    font-size: 2rem;
}
.focused input {
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    min-width: 3rem;
    margin: 0.25rem;
}

.focusedLogButton {
    font-size: 1.5rem;
    
}

.focusedHistory {
    width: 100%;
    text-align: center;
}

.focusedHistoryList {
    list-style-type: none;
    width: 100%;
    padding: 0;
    max-height: 40vh;
    overflow-y: scroll;
}

.focusedHistoryRow {
    font-size: 1.5rem;
    margin: 0.25rem 0rem;
}

.focusedHistoryTime {
    font-size: 0.75rem;
    position: absolute;
    bottom: 12rem;
}

.focusTimer {
    position: fixed;
    bottom: 3rem;
    padding: 1rem;
    border-radius: 18px;
    background-color: #333;
}

@media (max-width: 768px) {
    .logButtonsContainer {
        font-size: 1.3rem;
        width: 90vw;
    }

    .recentHistory {
        margin-bottom: 1rem;
    }

    .recentHistoryList {
        grid-template-columns: repeat(2, minmax(40px, 50%));
    }

    .note {
        user-select: none;
    }

    .focusedLogButton {
        min-width: 85vw;
    }
}