.friendActivity {
    margin-top: 2rem;
    position: relative;
    width: 33.15rem;
}

.friendsListContainer {
    padding: 0.2rem;
    /*max-height: 10rem;*/
    overflow: auto;
}

.friendList {
    padding: 0;
    list-style: none;
}

.friendListsList {
    padding: 0;
    margin: 0;
    overflow: auto;
    scrollbar-color: #888 transparent;
}

.friend {
    margin: 0.5rem 0.25rem;
    position: relative;
    background-color: #333;
    padding: 0.65rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #111;
}
.friendText {
    position: absolute;
    left: 112px;
    top: 0;
    width: 75%;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    user-select: none;
}
.friendUsername {
    margin-top: 0.1rem;
    font-size: 0.8rem;
    display: inline-block;
    transition: transform 3s linear;
    user-select: none;
}
.friendText.overflow:hover .friendUsername{
    transform: translateX(calc(75% - 100% - 100px));
}

.friendSubtext {
    font-size: 0.55rem;
    margin-top: 0.15rem;
}

.requestButton {
    padding: 0.5rem 1.5rem;
}

.addFriendButton {
    position: absolute;
    right: 0;
    top: 1rem;
    background-color: transparent;
    color: white;
    border-style: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.addFriendButton:hover {
    color: #999;
}
.addFriendButton:active {
    color: #888;
}

.addFriendMenu {
    background-color: #333;
    border-radius: 8px;
    border: 1px solid #555;
    padding: 0.3rem;
    position: absolute;
    z-index: 2;
    text-align: center;
    box-shadow: 0px 0px 10px #111;
    height: 5rem;
}

.activityContainer {
    /* grid-column: 2; */
    margin: 0.5rem;
    user-select: none;
}

.activityList {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 14rem;
    overflow: auto;
    scrollbar-color: #888 transparent;
}

.activityItem {
    margin: 0;
    margin-bottom: 0.2rem;
    padding-left: 0.3rem;
    font-size: 1rem;
    word-wrap: break-word;
    position: relative;
}
.noteActivity {
    border-left: 4px solid rgb(193, 237, 71);
}
.logActivity {
    border-left: 4px solid rgb(96, 181, 96);
}
.labelActivity {
    border-left: 4px solid rgb(125, 164, 255);
}
.cardioActivity {
    border-left: 4px solid rgb(231, 53, 21);
}

.activityItemHover {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    padding: 0.15rem;
    border-radius: 8px;
}

.activityNote {
    list-style: none;
    font-style: italic;
}

.activityExpand {
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: auto;
}
.activityExpand.expanded {
    margin-top: 0.5rem;
    max-height: 18rem;
}

.expansionArrow {
    position: absolute;
    font-weight: bold;
    top: 2.5rem;
    right: 1rem;
    opacity: 50%;
    transition: transform 0.3s ease;
}
.expansionArrow.expanded {
    transform: rotate(-90deg);
}

.friendProfileContainer {
    text-align: center;
    background-color: #333;
    padding: 1rem 2rem;
    position: fixed;
    top: 20vh;
    z-index: 3;
    border-radius: 24px;
    width: 20rem;
    min-height: 28rem;
    overflow: hidden;
}

.unfriendButton {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

.unfriendConfirmation {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: center;
    top: auto;
}

@media (max-width: 768px) {
    .friendActivity {
        width: 100%;
    } 

    .activityItem {
        font-size: 0.8rem;
    }

    .friendText {
        left: 64px;
        width: 75%;
        font-size: 0.75rem;
    }

    .addFriendMenu {
        height: 6rem;
    }

    .friendProfileContainer {
        width: 80%;
        max-height: 65%;
    }
}