.historyGroup {
    list-style: none;
    padding: 10px;
    font-size: 0.8rem;
}
.historyTitle {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}
.historyLabel {
    margin: 0 1rem;
    margin-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.historyItem {
    position: relative;
}

.historySubList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.historyItemSpan {
    text-align: center;
    grid-column: span 4;
}

.leftHistoryButton {
    position: absolute;
    left: 0;
    margin: 0;
}
.rightHistoryButton {
    position: absolute;
    right: 0;
    margin: 0;
}

.undoButton {
    position: absolute;
    right: 0;
}

.labelChangeInput {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    margin: 0.5rem 1rem;
    font-size: 1.17rem;
    color: white;
    font-weight: bold;
    text-align: center;
}
.labelChangeInput:focus {
    outline: none;
}

.historyList {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(40px, 275px));
    grid-auto-rows: 1fr;
}

@media (max-width: 768px) {
    .historyList {
        grid-template-columns: repeat(2, minmax(40px, 200px));
    }
}