.profilePicture {
    box-shadow: 0px 0px 3px #111;
}

.profilePictureContainer {
    text-align: left;
}

.xpGutter {
    height: 0.75rem;
    width: 100%;
    background-color: white;
    border-radius: 824px;
}
.xpBar {
    height: 0.75rem;
    background-color: #2dfc5a;
    border-radius: 24px;
    transition: all;
    transition-duration: 500;
}

.userProfileContainer {
    text-align: center;
    background-color: #333;
    padding: 1rem 2rem;
    padding-top: 0;
    border-radius: 24px;
    position: relative;
    width: 20rem;
    min-height: 28rem;
    overflow: hidden;
    overflow-y: auto;
}

.profileContainer {
    position: relative;
}

.profileDescription {
    text-align: left;
    position: absolute;
    top: 0;
    left: 272px;
    width: 55%;
}

.preferenceMenu {
    text-align: left;
    margin-top: 1rem;
}

.userRecords {
    position: absolute;
    text-align: left;
}

.editButton {
    padding: 0.1rem;
    border-radius: 4px;
}
.editButton:hover {
    cursor: pointer;
    background-color: #555;
}

@media (max-width: 768px) {
    .userProfileContainer {
        width: 80%;
        min-height: 32.5rem;
    }

    .profileDescription {
        width: 55%;
        font-size: 1.2rem;
        left: 144px;
    }

    .userRecords {
        font-size: 1.2rem;
    }
}