:root {
    font-family: Segoe UI;
    font-size: 2rem;
    color: white;
    background-color: #222;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h3 {
    margin-bottom: 0;
}

.darkFont {
    color: #999;
}

.smallText {
    font-size: 0.5rem;
}

.center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar {
    background-color: #333;
    font-size: 1.5rem;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0rem;
    z-index: 2;
}

nav {
    margin: 0;
    padding: 0;
}

.hidden {
    visibility: hidden;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
}

.navlink {
    text-decoration: none;
    padding: 0.4rem 1rem;
    display: flex;
    color: inherit;
    height: 100%;
    align-items: center;
}

.active {
    background-color: #555;
}

.navlink:hover {
    background-color: #666;
    transition: ease-in-out;
    transition-duration: 200ms;
}

.mainContentPane {
    margin: 6rem 2.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.warningText {
    color: red;
    font-weight: bold;
}

.plainLink {
    padding: 0.2rem;
    border-radius: 4px;
    margin: 0;
}
.plainLink:hover {
    background-color: #777;
    color: aliceblue;
    cursor: pointer;
}

.floatingButton {
    border-radius: 9999px;
    font-size: 0.8rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0;
    margin-top: 1rem;
    background-color: #555;
    color: white;
}
.floatingButton:hover {
    background-color: #777;
    color: white;
}
.floatingButton:active {
    background-color: #666;
}

.smallFloatingButton {
    border-radius: 9999px;
    font-size: 0.8rem;
    border: none;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    background-color: #555;
    color: white;
    margin: 0;
    margin-left: 0.2rem;
}
.smallFloatingButton:hover {
    background-color: #777;
    color: aliceblue;
}
.smallFloatingButton:active {
    background-color: #666;
}

.transparentButton {
    background-color: transparent;
    border-style: none;
}

.fullwidth {
    width: 100%;
}

.smallTextInput {
    border-radius: 8px;
    border-style: none;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    margin-top: 0;
    background-color: #444;
    color: whitesmoke;
}

.longTextInput {
    border-radius: 8px;
    border-style: none;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    min-width: 10rem;
    margin: 0;
    background-color: #444;
    color: whitesmoke;
}

.historyMovement {
    font-weight: bold;
}

@media (max-width: 768px) {
    :root {
        font-size: 1rem;
        overflow: hidden;
        width: 100%;
    }

    .navbar {
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        position: fixed;
        font-size: 1.3rem;
        width: 100%;
        z-index: 2;
    }

    .mainContentPane {
        margin: 0.5rem;
    }

    .floatingButton {
        padding: 0.75rem 1.25rem;
    }
    .smallFloatingButton {
        padding: 0.5rem 0.75rem;
    }

    .smallTextInput {
        padding: 0.5rem 0.8rem;
    }
    .longTextInput {
        padding: 0.5rem 0.8rem;
    }
}