.chatBox {
    background-color: #333;
    padding: 1rem;
    border-radius: 8px;
    width: 30rem;
    min-height: 15rem;
    max-height: 22rem;
    margin: auto;
    position: relative;
    scrollbar-color: #888 transparent;
    box-shadow: 1px 1px 5px #111;
}

.headerButtons {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    gap: 0.35rem;
}

.chatRoomListContainer {
    overflow-y: auto;
    max-height: 22rem;
}

.chatRoomList {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2.5rem;
    max-height: 18rem;
}

.chatRoomItem {
    padding: 0 0.5rem;
    background-color: #222;
    border-radius: 8px;
    overflow-wrap: break-word;
}
.chatRoomItem:hover {
    background-color: #555;
    cursor: pointer;
}

.chatRoomName {
    margin: 0;
    margin-top: 0.5rem;
}
.chatMessageList {
    list-style: none;
    margin: 0;
    padding: 0.3rem;
    max-height: 16rem;
    margin-bottom: 3.5rem;
    margin-top: 2.5rem;
    overflow-y: auto;
    overflow-wrap: break-word;
    background-color: #222;
    border-radius: 8px;
}

.chatMessage {
    position: relative;
    padding: 0.05rem;
}

.chatMessageTime {
    position: absolute;
    bottom: -0.5rem;
}

.chatInputBar {
    position: absolute;
    bottom: 5%;
    width: 90%;
}

.chatSubmitButton {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    margin: 0;
}

.chatBar {
    background-color:#555;
    border-radius: 999px;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.roomMenuTextArea {
    resize: none;
    width: 12rem;
    height: 6rem;
}

.chatRoomMenu {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2);
}

.userList {
    list-style: none;
    padding: 0;
    text-align: left;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-width: 13rem;
    max-height: 16rem;
}

.chatUser {
    padding: 0.2rem;
    border-radius: 12px;
    margin: 0.2rem 0;
    background-color: #555;
}

.chatSubMenu {
    background-color: #333;
    border-radius: 8px;
    border: 1px solid #555;
    padding: 0.3rem;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 10px #111;
    height: 5rem;
    text-align: center;
}

.chatUserDeleteConfirm {
    text-align: center;
    top: 10rem;
}

@media (max-width: 768px) {
    .chatTopper {
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }
    
    .chatBox {
        max-height: 28rem;
        width: 89%;
    }

    .chatMessageList {
        max-height: 20rem;
        margin-bottom: 4rem;
        margin-top: 3rem;
    }

    .chatRoomList {
        margin-top: 3rem;
        max-height: 28rem;
    }

    .chatBar {
        font-size: 1.3rem;
        width: 70%;
    }

    .chatSubmitButton {
        padding: 0.75rem 1.25rem;
    }

    .userList {
        max-width: 8rem;
        max-height: 20rem;
        padding-left: 1rem;
    }

    .leaveConfirmation {
        top: 0.75rem;
    }

    .chatRoomMenu {
        grid-template-columns: 60% 40%;
    }

    .chatSubMenu {
        height: 6rem;
    }
    
}