.chatBox {
    width: 100%;
    max-height: 75vh;
    scrollbar-color: #888 transparent;
}

.chatTopper {
    width: 30rem;
    display: flex;
    position: relative;
    flex-direction: column;
}

.headerButtons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.chatRoomListContainer {
    overflow-y: auto;
    max-height: 22rem;
}

.chatRoomList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 60vh;
}

.chatRoomItem {
    padding: 0 0.5rem;
    background-color: #333;
    border-radius: 8px;
    position: relative;
    padding-bottom: 3rem;
}
.chatRoomItem:hover {
    background-color: #555;
    cursor: pointer;
}

.chatRoomItemDescription {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    opacity: 0.7;
    position: absolute;
}

.chatRoomName {
    margin: 0;
    margin-top: 0.5rem;
}
.chatMessageList {
    list-style: none;
    margin: 0.25rem 0;
    padding: 0.3rem;
    height: 60vh;
    overflow-y: auto;
    overflow-wrap: break-word;
    background-color: #222;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.chatMessage {
    width: fit-content;
    position: relative;
    padding: 0.3rem;
    padding-right: 2rem;
    margin: 0.25rem 0rem;
    background-color: #111;
    border-radius: 14px;
}

.userChatMessage {
    background-color: rgb(80, 100, 160);
    align-self: flex-end;
    padding-right: 0.3rem;
}

.repliedMessage {
    margin: 0.5rem 1.25rem;
    padding-left: 0.25rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    border-left: 0.2rem solid #777;
    opacity: 75%;
}

.userRepliedMessage {
    border-left: 0.2rem solid #bbb;
    opacity: 80%;
}
.replyButton {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    background-color: transparent;
    border: none;
    color: white;
}

.chatMessageTime {
    position: absolute;
    bottom: -0.5rem;
}

.chatBar {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.chatInputBarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.replyingToPrompt { 
    position: absolute;
    top: -3rem;
    background-color: #222;
    width: 100%;
}

.chatSubmitButton {
    padding: 0.6rem 1rem;
    margin: 0;
    display: flex;
    flex-basis: 10%;
}

.chatInputBar {
    background-color:#555;
    border-radius: 999px;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1rem;
    display: flex;
    flex-basis: 70%;
}

.roomMenuTextArea {
    resize: none;
    width: 12rem;
    height: 6rem;
}

.chatRoomMenu {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2);
}

.chatMenuUserListContainer {
    grid-column: 2;
}

.userList {
    list-style: none;
    padding: 0;
    text-align: left;
    overflow-wrap: break-word;
    overflow-y: auto;
    max-width: 13rem;
    max-height: 16rem;
}

.chatUser {
    padding: 0.2rem;
    border-radius: 12px;
    margin: 0.2rem 0;
    background-color: #555;
    box-shadow: 0px 0px 2px black;
    position: relative;
}
.chatUser:hover {
    background-color: #666;
}

.chatSubMenu {
    background-color: #333;
    border-radius: 8px;
    border: 1px solid #555;
    padding: 0.3rem;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 10px #111;
    height: 5rem;
    text-align: center;
}

.chatUserDeleteConfirm {
    text-align: center;
    top: 10rem;
}

@media (max-width: 768px) {
    .chatTopper {
        width: 95vw;
        position: relative;
    }

    .chatMessageList {
        height: 62vh;
    }

    .chatInputBar {
        font-size: 1.3rem;
    }

    .chatSubmitButton {
        padding: 0.75rem 1.25rem;
    }

    .chatRoomMenu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: scroll;
    }

    .chatMenuUserListContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 10rem;
    }

    .userList {
        align-items: center;
        max-width: 90%;
        justify-content: center;
        align-self: center;
        margin-top: 0;
    }

    .leaveConfirmation {
        top: 0.75rem;
    }

    .chatRoomMenu {
        grid-template-columns: 60% 40%;
    }

    .chatSubMenu {
        height: 6rem;
    }
    
}